<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <environments default="development"><!--в данном блоке настраиваются подключения к БД-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/AircraftMapper.xml"/>
        <mapper resource="mappers/SoldierMapper.xml"/>
        <mapper resource="mappers/HelicopterMapper.xml"/>
        <mapper resource="mappers/WarshipMapper.xml"/>
        <mapper resource="mappers/SubmarineMapper.xml"/>
    </mappers>
</configuration>